# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Logs and databases
*.log
*.sqlite3

# Translations
*.mo
*.pot

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors (optional)
.idea/
.vscode/
*.sublime-*

# Miscellaneous
.DS_Store
Thumbs.db

# PyBuilder
target/

# pip specific files
pip-log.txt
pip-delete-this-directory.txt

# Temporary files and backups
*~

